body {
    background-color:gray;
}
p {
    color:blue;
    font-style: italic;
    font-weight: bold;
 }
 .ul
 {
     background-color: coral;
     font-family: Arial, Helvetica, sans-serif;
 }
 #a
 {
     color:green;
     font-size: large;
 }
 p em{
     color:black;
     font-style:normal;
     font-size:30;
 }
 p strong
 {
     color:red;
 }
 #paragraph {
     color: brown;
 }
 strong{
     color:green;
 }