.float{
    float:left;
    width:50%;
    height: 75px;
    background-color: grey;

}

.sidebar{
    float:right;
    width: 50%;
    height:75px;
    background-color: green;
}
p {
    position: absolute;
    top : 100px;
    
}